[submodule "dependencies/simdjson"]
	path = dependencies/simdjson
	url = https://github.com/simdjson/simdjson.git
[submodule "dependencies/spdlog"]
	path = dependencies/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = https://github.com/google/googletest.git
[submodule "dependencies/curlpp"]
	path = dependencies/curlpp
	url = https://github.com/jpbarrette/curlpp.git
[sumbodule "dependencies/vcpkg"]
	path = dependencies/vcpkg
	url = https://github.com/microsoft/vcpkg.git
