name: C++ CI

on: [push]

jobs:
  build-ubuntu:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: install deps
      run: sudo apt-get update && sudo apt-get install curl libcurl4-openssl-dev

    - name: run CMake
      run: cmake . && make -j`nproc`

    - name: run tests
      run: ./scripts/run_tests.sh

  build-windows:

    runs-on: windows-latest

    strategy:
      matrix:
        architecture: [x64, x86]

    steps:
      - uses: actions/checkout@v2
        
      - name: setup MinGW
        uses: egor-tensin/setup-mingw@v2
        with:
          platform: ${{ matrix.architecture }}

      - name: CMake
        run: cmake . -DCMAKE_TOOLCHAIN_FILE=./vcpkg/vcpkg/scripts/buildsystems/vcpkg.cmake -DVCPKG_TARGET_TRIPLET="x64-windows" -G "MinGW Makefiles"

      - name: build
        run: cmake --build . --parallel 8
